.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* :::::::::::::::::::::::::::::::Mine:::::::::::::::::::::::::::::::::::: */
/* Navbar */
.navbar-container {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
  -webkit-box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
  -moz-box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
}
.navbar-container > a {
  text-decoration: none;
}

.logoAndBrand {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  color: rgb(255, 103, 8);
}
.brand {
  font-weight: 400;
  font-size: 130%;
}
.logoAndBrand:hover {
  cursor: pointer;
}

.navItems {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.navItems li {
  list-style-type: none;
  margin-right: 10px;
}
.navItems li a {
  text-decoration: none;
  color: white;
}

/* :::::::::::::::::::::::::Home page::::::::::::::::::::::: */
.content {
  color: aliceblue;
  display: flex;
  justify-content: center;
}
.display-area {
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 60%;
}

.addTaskBtn {
  color: white;
}

.form {
  color: white;
  text-align: left;
  padding: 20px;
  margin-top: 60px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
  -webkit-box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
  -moz-box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
}

.submit-forgot-password {
  display: flex;
  justify-content: space-between;
}

/* ::::::::::::::::::::::::::::::Tasks::::::::::::::::::::: */
.task-container {
  width: 100%;
}
.task-table {
  margin-top: 40px;
  text-align: left;
  border-radius: 5px !important;
  width: 100%;
}
.task-table tr {
  border: 1px solid rgb(182, 181, 181);
}
.task-table td {
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.task-table th {
  padding-left: 10px;
  padding-top: 10px;
}
.edit-btn {
  margin-right: 5px;
}

/* ::::::::::::::::::::::::::::::::::::Alert::::::::::::::::::::::::::: */
.alerts-container {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 100px;
}

.alert {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.removeAlertX {
  color: red;
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 5px;
}
.removeAlertX:hover {
  cursor: pointer;
}

/* :::::::::::::::::::::::::FORMS::::::::::::::::::::::::::::::: */
.form-container {
  width: 80%;
}

/* ::::::::::::::::::::Dashboard::::::::::::::::::::::::::::::::: */
.dashHeader {
  margin: 20px auto;
  color: aliceblue;
  width: 100%;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  justify-content: space-between;
  box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
  -webkit-box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
  -moz-box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
}

.badge {
  background-color: green;
}

.name-avatar {
  display: flex;
  flex-direction: column;
  color: rgb(255, 103, 8);
  text-transform: capitalize;
  margin-top: 5px;
}

.name-avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
  -webkit-box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
  -moz-box-shadow: 0px 4px 10px -1px rgba(247, 247, 247, 0.75);
}

.card {
  text-align: left;
}
